*{
	padding: 0;margin: 0;font-family: century gothic
}
body{

	background-color: #F3F6F6;
}



ul{
	margin-top: 25px;
	margin-left: 10%;
	list-style:none;
	align-items: center;
}
li{
	display: inline-block;
}
ul li a{
	text-decoration: none;
	color: #002D5B;
	padding: 5px 20px;
	border:1px solid transparent;
	transition: 1s ease;
	border-radius: 5px
}
ul li a:hover{
	background-color: #002D5B;
	color: #FEFAFA;
}
.a a{
    background-color:#FEFAFA;
	color: #000;
}
.title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%)
}
.title h1{
	color: black;
	font-size: 25px
}
.title h2{
	color: #fff;
	
}
.title h4{
	color: #fff;
	
}
.title p{
	color: #fff;
	
}
.b{
	position: absolute;
	top: 80%;
	left: 45%;
	transform: translate(-50%,-50%);
}


.btn{
	border:1px solid #fff;
	padding: 10px 30px;
	color: #000;
	text-decoration: none;
	background-color: #6C8884
}
.btn:hover{
	background-color: #fff;
	color: #000;
	transition: 0.7s ease
}
.btn1{
	border:1px solid #fff;
	padding: 10px 30px;
	color: #000;
	text-decoration: none;
	background-color: #fff
}